* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background: var(--body-bg-color);
  height: 100vh;
}

body * {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

#container {
  padding: 40px 40px 20px;
  display: flex;
  gap: 60px;
}

#side-cards {
  display: flex;
  flex-direction: column;
  flex-basis: 27%;
  gap: 30px;
}

.card {
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 32px 0;
}

#profile img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #00ff00;
  object-fit: cover;
}

#profile-info {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#profile-name {
  font-size: 23px;
  font-weight: 700;
}

#profile-role {
  font-size: 13px;
  font-weight: 300;
}

#links {
  font-size: 13px;
  padding: 30px 40px;
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#links ul li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}

#technologies {
  padding: 30px 20px;
}

#technologies ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

#technologies ul li {
  border-radius: 30px;
  background: #cb92b1;
  color: #000000;
  padding: 5px 0;
  flex: 1 1 30%;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

#experiences,
#education {
  padding: 30px 20px;
}

#experiences ul,
#education ul {
  margin: 20px 0 0 40px;
}

#experiences ul li:not(:last-child),
#education ul li:not(:last-child) {
  margin-bottom: 20px;
}

#experiences ul li div,
#education ul li div {
  display: flex;
  flex-direction: column;
}

.company-name,
.school-name {
  font-size: 14px;
  font-weight: 700;
}

.work-since-until,
.study-since-until {
  font-size: 12px;
  font-weight: 300;
}

.work-role,
.course-name {
  font-size: 12px;
}

#main-cards {
  display: flex;
  flex-direction: column;
  flex-basis: 73%;
  gap: 30px;
}

#my-projects {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#my-projects a,
.quantity-info,
.project-main-tech-name {
  font-size: 14px;
}

#projects ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#projects ul li {
  flex: 1 1 32%;
}

#projects ul li a {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.project-name {
  font-weight: 700;
}

footer,
.project-description {
  font-size: 14px;
  line-height: 20px;
}

.project-contrib-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-contrib-details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.project-contrib-details div,
.project-main-tech-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-main-tech-circle {
  width: 15px;
  height: 15px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  background: #563d7c;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}
